$color:rgb(0, 0, 0);

body {
    margin: 0px;
    background-color: $color;
}

.main {
    margin: 0px;

    color: white;
    padding: 20px;

    .content {
        width: 50%;
        margin: 0 auto;

        .card {
            background-color: rgba($color: #090f06, $alpha: 0.3);
            padding: 20px;

            .card-head {
                text-align: center;
            }

            .card-body {
                .item {
                    display: flex;
                    justify-content: space-around;

                    &_description {
                        &__logo {
                            background-image: url("../css/dist/img/B-Colombia.png");
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }

            .card-foot {
                background-color: rgb(240, 13, 62);
                padding: 10px;
                text-align: center;

                h1,
                h3 {
                    margin: 0;
                }
            }
        }
    }

}